---
name: Auto-Merge-Dependabot

on:  # yamllint disable-line rule:truthy
  pull_request_target:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4
      - uses: ahmadnassri/action-dependabot-auto-merge@v2.6
        with:
          target: minor
          github-token: ${{ secrets.AUTO_MERGE_DEPENDABOT_TOKEN }}
